[submodule "web-app/web-app"]
	path = web-app/web-app
	url = https://github.com/PerfectWeek/web-app
	branch = dev
[submodule "api/web-api"]
	path = api/web-api
	url = https://github.com/PerfectWeek/web-api
	branch = dev
